.nav {
    &__togler {
        width: 45px;
        height: 45px;
        border: none;
        background-color: transparent;
    }

    &__list {
        display: none;
    }

    &__contact {
        display: none;
    }
}