.slider {
    width: 100%;

    &__wrapper{
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 15px;

        display: flex;
    }
}

@media (min-width: 1220px) {
    .about {
        &__wrapper{
            margin: 0 auto;
            padding: 0 15px;
        }
    }    
}