.welcome-img {
    width: 178px;
    height: 166px;
    position: absolute;
    right: 0;
    top: 12px;
}

@media (min-width: 1220px) {
    .welcome-img {
        width: 608px;
        height: 569px;
    }
}